.menu {
    background-color: hsl(47, 91%, 79%);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 7px  6px hsl(0,98%,26%);
    width: 200px;
    max-width: 200px;
    padding: 6px 10px;
    margin-left: auto;
    margin-right: auto;
    }
    
li {
    list-style: none;
    line-height: 25px;
    font-size: 15px;
    color: hsl(0,98%,26%);
    font-weight: bold;
    margin: 5px 0;
    }