*{
    box-sizing: border-box;
}

.wrapper{
    width: 500px;
    background-color: rgb(6,144,207);
    border: 3px solid rgb(19,118,167);
    font-family: Arial;
    color: white;
} 

h1{
    font-size: 1.5em;
    margin: 30px 20px 10px 20px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 30px 80px 30px 30px;
    grid-auto-rows: 50px;
    outline: none;
    grid-auto-flow: row;
}

form p:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

#email{
width: 100%;
}

input, output {
   outline: none; 
   height: 20px;
   margin-top: 3px;
   width: 100%;
}

.btn{
    border: none;
    background-color: hsl(44,100%,74%);
    width: 100px;
    height: 32px;
    margin-top: 30px;
}
.btn:hover{
    background-color: rgb(206, 177, 98);
}

