@{
    Layout = null;
}
@using UsersAndAwards.BLL.Dependencies

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Delete Award</title>
</head>
<body>
    <form action="~/pages/DeleteAward.cshtml" method="post">
        <label>Enter Award's ID which you want to delete:</label>
        <input type="number" name="aID" value="" />

        <button type="button" id="submit">Submit</button>
        <button type="submit" id="realSubmit">Submit</button>
    </form>

    @{
        if (IsPost)
        {
            int aID = int.Parse(Request.Params["aID"]);

            var _userBLL = UsersAndAwardsBLLDependencies.UserLogic;
            var _awardBLL = UsersAndAwardsBLLDependencies.AwardLogic;

            _awardBLL.Delete(aID);
        }

    }
    <script src="~/js/DeleteAward.js"></script>
</body>
</html>
