@{
    Layout = null;
}
@using UsersAndAwards.BLL.Dependencies

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Get Award By ID</title>
</head>
<body>
        <form action="~/pages/GetAwardById" method="post">
            <label>Enter Award's ID which you want to see:</label>
            <input type="number" name="id" value="" />

            <button type="submit">Submit</button>
        </form>

        @{
            if (IsPost)
            {
                int aID = int.Parse(Request.Params["id"]);

                var _userBLL = UsersAndAwardsBLLDependencies.UserLogic;
                var _awardBLL = UsersAndAwardsBLLDependencies.AwardLogic;

                <div>
                    ID | Title <br/> 
                    @_awardBLL.GetById(aID);
                </div>
            }

        }
</body>
</html>
